/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
    /* margin: 0; */
    /* padding: 0; */
}

/* common shared style */
.btn-primary {
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 20px 25px;
    background-color: rgb(255, 144, 14);
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;

}
button:hover {
    background-color: cadetblue;
    transition: all 1s;
}

/* header section */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;

}

nav li {
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.nav-title{
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;

}

/*header banner-content */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
/* .banner-title:hover{
    cursor: pointer;
    background-color: cadetblue;
    transition: all 1s;
} */

.banner-para {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;

}
.banner img{
    margin-top: 30px;
    width: 100%;
}


/* main section style */
main{
    max-width: 1440;
    margin: 70 auto;
}
/* team style */
.team-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 85px;
    padding-left: 300px;
}
.T-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-content{
    padding-left: 76px;
    padding-right: 70px;
}
.T-head{
    font-size: 45px;
}
.T-head .quick{
    color: #727272;
    font-weight: 500;
}
.of{
    color: #131313;
    font-weight: 700;
}
.text-features{
    color: #FF900E;
    font-weight: 700;
    /* align-items: left; */
}
.T-para{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}
/* responsive media query */
/* For small devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .team-container{
        flex-direction: column;
    }
    nav ul{
     flex-direction: column;
     gap: 10px;
    }
    .T-image-container{
        grid-template-columns: 1fr;
    }
    .team-container{
        padding-left: 20px;
        padding-right: 20px;
       
    }
  

}

/* For Medium devices */
@media screen and (min-width: 577px) and (max-width: 960px){
    header{
        flex-direction: column;
        padding: 50px;
    }
    nav, .team-container{
        flex-direction: column;
    }
}